:root {
  --color-black: #000000;
  --color-white: #fafafa;
  --color-slate_900: #28283d;
  --color-slate_600: #87879d;
  --color-slate_300: #d1d1df;
  --color-purple_600: #855fb1;
  --color-purple_300: #d9b8ff;
  --color-purple_hover: #b18bdd;
  --color-cyan_600: #4d96a9;
  --color-cyan_300: #8fe3f9;
  --color-cyan_hover: #71c0d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Red Hat Display";
}

html {
  scroll-behavior: smooth;
}

/* min body height */
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.btn {
  padding: 1rem 2.5rem;
  color: var(--color-white);
  border-radius: 1.8125rem;
  transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 150%;
  font-size: 1rem;
}
.btn--cyan {
  background-color: var(--color-cyan_600);
}
.btn--cyan span {
  margin-left: 0.25rem;
  color: var(--color-cyan_300);
}
.btn--cyan:hover, .btn--cyan:focus {
  background-color: var(--color-cyan_hover);
}
.btn--purple {
  background-color: var(--color-purple_600);
}
.btn--purple span {
  color: var(--color-purple_300);
}
.btn--purple:hover, .btn--purple:focus {
  background-color: var(--color-purple_hover);
}

.logo {
  max-height: 1.75rem;
}

.sec-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-number__line {
  height: 5rem;
  width: 0.0625rem;
  background-color: var(--color-slate_300);
}
.sec-number__number {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-slate_300);
  border-radius: 50%;
  color: var(--color-slate_600);
  text-align: center;
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 150%;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem 0;
}
@media (width >= 80rem) {
  .header {
    padding-top: 5rem;
  }
}

.hero {
  padding-inline: 2rem;
  padding-block: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 10rem;
}
.hero-img .images--tablet {
  position: absolute;
  height: 100%;
}
.hero-img .images--tablet img {
  height: 100%;
  max-width: none;
}
.hero-img .images--desktop {
  display: none;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-content__heading {
  color: var(--color-slate_900);
  text-align: center;
  font-family: "Red Hat Display";
  line-height: 110%;
  font-weight: 900;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 2.0229007634rem + 2.0356234097vw, 3rem);
}
@media (width >= 48rem) {
  .hero-content__heading {
    font-size: 3rem;
    font-size: clamp(3rem, 1.8571428571rem + 2.380952381vw, 4rem);
  }
}
.hero-content__pg {
  color: var(--color-slate_600);
  text-align: center;
  font-family: "Red Hat Display";
  font-weight: 500;
  line-height: 150%;
}
@media (width >= 48rem) {
  .hero-content__pg {
    font-size: 1rem;
    font-size: clamp(1rem, 0.8571428571rem + 0.2976190476vw, 1.125rem);
  }
}
.hero-content__CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (width >= 48rem) {
  .hero {
    gap: 4.5rem;
    padding-bottom: 4rem;
  }
  .hero-img {
    height: 18.9375rem;
  }
  .hero-content {
    max-width: 28.01875rem;
  }
  .hero-content__CTA {
    flex-direction: row;
  }
}
@media (width >= 80rem) {
  .hero {
    padding: 4rem 5rem;
    gap: 0;
  }
  .hero-img {
    position: absolute;
    height: 30.5rem;
    overflow-x: hidden;
  }
  .hero-img .images--tablet {
    display: none;
  }
  .hero-img .images--desktop {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  .hero-img .images__left {
    transform: translate(-1.5rem, -2.125rem);
  }
  .hero-img .images__right {
    transform: translate(1.5rem, 2.125rem);
  }
}

.main-content {
  padding: 2rem;
  padding-bottom: 4rem;
}
.main-content .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.main-content .content .images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.main-content .content .images__img {
  border-radius: 0.5rem;
}
.main-content .content .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.main-content .content .text__title--sup {
  margin-bottom: 1rem;
  color: var(--color-cyan_600);
  text-transform: uppercase;
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.6307251908rem + 0.5089058524vw, 0.875rem);
}
@media (width >= 48rem) {
  .main-content .content .text__title--sup {
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.7321428571rem + 0.2976190476vw, 1rem);
  }
}
.main-content .content .text__title--main {
  color: var(--color-slate_900);
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 110%;
  font-size: 2rem;
  font-size: clamp(2rem, 1.7614503817rem + 1.0178117048vw, 2.25rem);
}
@media (width >= 48rem) {
  .main-content .content .text__title--main {
    font-size: 2.25rem;
    font-size: clamp(2.25rem, 1.9642857143rem + 0.5952380952vw, 2.5rem);
  }
}
.main-content .content .text__paragraph {
  color: var(--color-slate_600);
  font-family: "Red Hat Display";
  font-weight: 500;
  line-height: 150%;
}
@media (width >= 48rem) {
  .main-content .content .text__paragraph {
    font-size: 1rem;
    font-size: clamp(1rem, 0.8571428571rem + 0.2976190476vw, 1.125rem);
  }
}
@media (width >= 48rem) {
  .main-content {
    padding-top: 3.5rem;
    padding-inline: 2.75rem;
  }
  .main-content .content .images {
    max-width: 42.5rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  .main-content .content .images__img {
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-content .content .text {
    max-width: 31.5rem;
  }
}
@media (width >= 80rem) {
  .main-content {
    padding-inline: 5rem;
    padding-bottom: 4.5rem;
  }
  .main-content .content .images {
    max-width: 70rem;
    gap: 2rem;
  }
  .main-content .content .images__img {
    height: 16rem;
  }
  .main-content .content .text {
    max-width: 34rem;
  }
  .main-content .content .text__title--main {
    max-width: 27.8125rem;
  }
}/*# sourceMappingURL=style.css.map */