:root {
  --color-black: #000000;
  --color-white: #fafafa;
  --color-slate_900: #28283d;
  --color-slate_600: #87879d;
  --color-slate_300: #d1d1df;
  --color-purple_600: #855fb1;
  --color-purple_300: #d9b8ff;
  --color-purple_hover: #b18bdd;
  --color-cyan_600: #4d96a9;
  --color-cyan_300: #8fe3f9;
  --color-cyan_hover: #71c0d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Red Hat Display";
}

html {
  scroll-behavior: smooth;
}

/* min body height */
body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.btn {
  padding: 1rem 2.5rem;
  color: var(--color-white);
  border-radius: 1.8125rem;
  transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 150%;
  font-size: 1rem;
}
.btn--cyan {
  background-color: var(--color-cyan_600);
}
.btn--cyan span {
  margin-left: 0.25rem;
  color: var(--color-cyan_300);
}
.btn--cyan:hover {
  background-color: var(--color-cyan_hover);
}
.btn--purple {
  background-color: var(--color-purple_600);
}
.btn--purple span {
  color: var(--color-purple_300);
}
.btn--purple:hover {
  background-color: var(--color-purple_hover);
}

.logo {
  max-height: 1.75rem;
}

.sec-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-number__line {
  height: 5.5rem;
  width: 0.0625rem;
  background-color: var(--color-slate_300);
}
.sec-number__number {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-slate_300);
  border-radius: 50%;
  color: var(--color-slate_600);
  text-align: center;
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 150%;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem 0;
}
@media (width >= 80rem) {
  .header {
    padding-top: 5rem;
  }
}

.hero {
  padding-inline: 2rem;
  padding-block: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 10rem;
}
.hero-img .images {
  position: relative;
}
.hero-img .images--tablet {
  position: absolute;
  height: 10rem;
}
.hero-img .images--tablet img {
  height: 100%;
  max-width: none;
}
.hero-img .images--desktop {
  display: none;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-content__heading {
  color: var(--color-slate_900);
  text-align: center;
  font-family: "Red Hat Display";
  line-height: 110%;
  font-weight: 900;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 2.0229007634rem + 2.0356234097vw, 3rem);
}
@media (width >= 48rem) {
  .hero-content__heading {
    font-size: 3rem;
    font-size: clamp(3rem, 1.8571428571rem + 2.380952381vw, 4rem);
  }
}
.hero-content__pg {
  color: var(--color-slate_600);
  text-align: center;
  font-family: "Red Hat Display";
  font-weight: 500;
  line-height: 150%;
}
@media (width >= 48rem) {
  .hero-content__pg {
    font-size: 1rem;
    font-size: clamp(1rem, 0.8571428571rem + 0.2976190476vw, 1.125rem);
  }
}
.hero-content__CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */