@use "../helpers/" as *;

.btn {
  padding: $spc-200 $spc-500;
  color: $clr-white;
  border-radius: rem(29);
  transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
  @include text-p5;

  &--cyan {
    background-color: $clr-cyan_600;
    span {
      margin-left: $spc-50;
      color: $clr-cyan_300;
    }

    &:hover,
    &:focus {
      background-color: $clr-cyan_hover;
    }
  }
  &--purple {
    background-color: $clr-purple_600;
    span {
      color: $clr-purple_300;
    }

    &:hover,
    &:focus {
      background-color: $clr-purple_hover;
    }
  }
}
