:root {
  // COLORS
  --color-black: #000000;
  --color-white: #fafafa;
  --color-slate_900: #28283d;
  --color-slate_600: #87879d;
  --color-slate_300: #d1d1df;
  --color-purple_600: #855fb1;
  --color-purple_300: #d9b8ff;
  --color-purple_hover: #b18bdd;
  --color-cyan_600: #4d96a9;
  --color-cyan_300: #8fe3f9;
  --color-cyan_hover: #71c0d4;
  --color-cyan_imge: #4d96a9d9;
}
