@use "./functions" as *;

@use "sass:map";

// ! BREAKPOINTS -----------------------------------
$breakpoints: (
  "md": rem(768),
  "lg": rem(1280),
  "xl": rem(1440),
);

@mixin breakpoint($size) {
  @media (width >= map.get($breakpoints, $size)) {
    @content;
  }
}

// ! FONTS ---------------------------------------------
@mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
  $factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
  $calc-value: unquote(
    "#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }"
  );

  font-size: $min-value; // Fallback for older browsers
  font-size: clamp(
    #{if($min-value > $max-value, $max-value, $min-value)},
    #{$calc-value},
    #{if($min-value > $max-value, $min-value, $max-value)}
  );
}

// * Font Stypes-------------
@mixin text-p1 {
  font-family: "Red Hat Display";
  line-height: 110%;
  font-weight: 900;
  @include fluid-type(rem(375), rem(768), rem(40), rem(48));
  @include breakpoint("md") {
    @include fluid-type(rem(768), rem(1440), rem(48), rem(64));
  }
}
@mixin text-p2 {
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 110%;
  @include fluid-type(rem(375), rem(768), rem(32), rem(36));
  @include breakpoint("md") {
    @include fluid-type(rem(768), rem(1440), rem(36), rem(40));
  }
}
@mixin text-p3 {
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 110%;
  letter-spacing: rem(4);
  @include fluid-type(rem(375), rem(768), rem(12), rem(14));
  @include breakpoint("md") {
    @include fluid-type(rem(768), rem(1440), rem(14), rem(16));
  }
}
@mixin text-p4 {
  font-family: "Red Hat Display";
  font-weight: 500;
  line-height: 150%;
  @include breakpoint("md") {
    @include fluid-type(rem(768), rem(1440), rem(16), rem(18));
  }
}
@mixin text-p5 {
  font-family: "Red Hat Display";
  font-weight: 900;
  line-height: 150%;
  font-size: rem(16);
}
