@use "./functions" as *;
// ! COLORS ---------------------------------
$clr-black: var(--color-black);
$clr-white: var(--color-white);

$clr-slate_900: var(--color-slate_900);
$clr-slate_600: var(--color-slate_600);
$clr-slate_300: var(--color-slate_300);

$clr-purple_600: var(--color-purple_600);
$clr-purple_300: var(--color-purple_300);
$clr-purple_hover: var(--color-purple_hover);

$clr-cyan_600: var(--color-cyan_600);
$clr-cyan_300: var(--color-cyan_300);
$clr-cyan_hover: var(--color-cyan_hover);
$clr-cyan_imge: var(--color-cyan_imge);

// ! SPACING ---------------------------------
$spc-50: rem(4);
$spc-100: rem(8);
$spc-200: rem(16);
$spc-300: rem(24);
$spc-400: rem(32);
$spc-500: rem(40);
$spc-600: rem(56);
$spc-700: rem(64);
$spc-800: rem(72);
$spc-900: rem(80);
$spc-1000: rem(88);
$spc-1400: rem(112);
