@use "../helpers" as *;

.footer-cta {
  width: 100vw;

  .content {
    margin-top: rem(-28);
    background-color: $clr-cyan_imge;
    background-blend-mode: overlay;
    padding: rem(64) rem(32);
    position: relative;

    &__container {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: rem(24);

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: rem(24);
        color: white;
        text-align: center;

        &__title {
          @include text-p2;
        }
        &__paragraph {
          @include text-p4;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: url("../assets/mobile/image-footer.jpg");
      background-size: cover;
    }
  }

  @include breakpoint("md") {
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__container {
        max-width: rem(504);
      }

      &::after {
        background-image: url("../assets/tablet/image-footer.jpg");
      }
    }
  }

  @include breakpoint("lg") {
    .content {
      padding: rem(112) rem(80);
      &__container {
        max-width: rem(1120);
        flex-direction: row;
        gap: 0;

        .text {
          flex-direction: row;
          justify-content: flex-start;
          text-align: left;
          margin-right: rem(95);
          gap: rem(32);

          &__title {
            max-width: rem(445);
          }
          &__paragraph {
            max-width: rem(355);
          }
        }
      }

      &::after {
        background-image: url("../assets/desktop/image-footer.jpg");
        background-position: bottom;
      }
    }
  }
}
