@use "../helpers/" as *;

.hero {
  padding-inline: $spc-400;
  padding-block: $spc-700 $spc-400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: rem(48);
  &-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: rem(160);
    .images {
      &--tablet {
        position: absolute;
        height: 100%;
        img {
          height: 100%;
          max-width: none;
        }
      }
      &--desktop {
        display: none;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $spc-300;

    &__heading {
      color: $clr-slate_900;
      text-align: center;
      @include text-p1;
    }

    &__pg {
      color: $clr-slate_600;
      text-align: center;
      @include text-p4;
    }

    &__CTA {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: $spc-200;
    }
  }

  @include breakpoint("md") {
    gap: rem(72);
    padding-bottom: $spc-700;

    &-img {
      height: rem(303);
    }

    &-content {
      max-width: rem(448.3);

      &__CTA {
        flex-direction: row;
      }
    }
  }

  @include breakpoint("lg") {
    padding: $spc-700 $spc-900;
    height: rem(488);
    gap: 0;
    &-img {
      position: absolute;
      height: rem(488);
      overflow-x: hidden;
      z-index: -1;
      .images {
        &--tablet {
          display: none;
        }

        &--desktop {
          display: flex;
          justify-content: space-between;
          width: 100vw;
        }

        &__left {
          transform: translate(rem(-24), rem(-34));
        }
        &__right {
          transform: translate(rem(24), rem(34));
        }
      }
    }
  }
}
